.content{
    margin-top: 70px;
    text-align: center;
    font-size: 10px;
    
}

.image{
    width: 80%;
    height: 80%;
    padding-top: 15px;
    padding-left: 10px;
    
}

.textStyle{
    font-weight:bolder;
    margin-top: 200px;
}

